body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.navbar-nav li {
    margin-right: auto; /* Push other items to the right */
}

.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Mengatur tinggi minimum agar form terpusat secara vertikal */
}

.form-container {
    width: 100%; /* Atur lebar container sesuai kebutuhan */
    max-width: 400px; /* Atur lebar maksimal sesuai kebutuhan */
}